:root {
  --whiteColour: #ffffff;
  --basic-colour: #000000;
  --secondary-colour: #212121;
  --tertiary-colour: #757575;
  --accentColour: #2196f3;
  --background-element: #f5f4fa;
}

/*--------------BODY--------------*/
h1,
h2,
h3,
h4,
p {
  margin: 0 0 0 0;
}
body {
  background-color: var(--whiteColour);
  color: var(--basic-colour);
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}
.accent-colour {
  color: var(--accentColour);
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

/*----------HEADER-------*/
.container.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head {
  display: flex;
  text-align: center;
  border: 1px solid #ececec;
}
.header-logo {
  display: flex;
  /*width: 145px;*/
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--basic-colour);
}
.address-head {
  display: flex;
}
.address-list:first-child {
  margin-right: 50px;
}
.address-list:not(:last-child) {
  margin-right: 50px;
}

.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accentColour);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-colour);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accentColour);
}
.contact {
  padding: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;

  color: var(--tertiary-colour);
}
.contact:hover,
.contact:focus {
  color: var(--accentColour);
}
/*-------------MAIN------------*/
.hero {
  background: #2f303a;
  text-align: center;
}
.hero-title {
  margin: 0 auto 30;

  width: 696px;
  height: 120px;
  padding: 0;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.ourbusiness {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-section {
  display: flex;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about p {
  padding-top: 10px;
}
.cont:not(:last-child) {
  margin-right: 30px;
}
.cont {
  display: inline-block;
  outline: 2px tomato;
}
.btn {
  display: inline-block;
  min-width: 200;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-colour);
  background-color: var(--background-element);
  cursor: pointer;
  text-align: center;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  margin-top: 30px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accentColour);
  color: var(--whiteColour);
}
.about-portfolio-text {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: var(--tertiary-colour);
}
.about-portfolio {
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.about-main {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  letter-spacing: 0.03em;
  color: var(--secondary-colour);
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-colour);
}
.itemIMG:not(:nth-last-child(-n + 3)) {
  padding-bottom: 30px;
}
.itemIMG:not(:nth-child(3n)) {
  margin-right: 30px;
}
.itemH:not(:last-child) {
  margin-right: 50px;
}
.list-item {
  display: flex;
}
.item:not(:last-child) {
  margin-right: 30px;
}

.ourbusiness ul {
  margin-top: 50px;
}
.employees ul {
  margin-top: 50px;
}
.visual {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-colour);
}
.employees .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.employees {
  background: #e5e5e5;
}
.employees-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-colour);
}
.employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--tertiary-colour);
  margin-top: 10px;
}
/*-------------FOOTER--------------*/

.footer-logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--whiteColour);
  padding-bottom: 20px;
}

.footer-contact .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
  background: #2f303a;
}

address a {
  padding-top: 9px;
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accentColour);
}

/*-------------portfolio----------*/
.hero-img {
  display: flex;
  flex-wrap: wrap;
}
.hero-img img {
  display: inline-block;
  margin-bottom: 20px;
}
.hero-img h3 {
  margin-bottom: 4px;
}
.hero-img p {
  margin-bottom: 20px;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.port-nav:not(:last-child) {
  margin-right: 8px;
}
.portfolio-nav {
  display: flex;
  justify-content: center;
}
.container.portfolio ul {
  margin-bottom: 34px;
}
.portfolio-nav-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-colour);
  cursor: pointer;
}
.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
  background-color: var(--accentColour);
  color: var(--whiteColour);
}
